# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
yarn-error.log

*.keystore

android/gradle.properties
ios/MyApp.xcodeproj/project.pbxproj

src/firebase.js

android/fastlane

ios/MyApp
ios/fastlane
ios/Crashlytics.framework
ios/Fabric.framework/*

ios/Crashlytics.framework/Crashlytics

ios/Fabric.framework/run

ios/Fabric.framework/Modules/module.modulemap

ios/Fabric.framework/Headers/Fabric.h

ios/Crashlytics.framework/uploadDSYM

ios/Crashlytics.framework/run
ios/Crashlytics.framework

ios/Crashlytics.framework/Info.plist

ios/Fabric.framework/Fabric

ios/Crashlytics.framework/submit

ios/Crashlytics.framework/Modules/module.modulemap

ios/Crashlytics.framework/Headers/CLSStackFrame.h

ios/Crashlytics.framework/Headers/CLSLogging.h

ios/Crashlytics.framework/Headers/Answers.h

ios/Crashlytics.framework/Headers/ANSCompatibility.h

ios/Crashlytics.framework/Headers/CLSAttributes.h

ios/Crashlytics.framework/Headers/CLSReport.h

ios/Crashlytics.framework/Headers/Crashlytics.h

ios/Fabric.framework/Headers/FABAttributes.h

ios/Fabric.framework/Info.plist

ios/Fabric.framework/uploadDSYM

ios/MyApp.app.dSYM.zip


